* {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #190000;
}

.resultsContainer {
    height: 50px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.score,
.winner {
    display: flex;
    color: gray;
    text-shadow: 1px 1px 1px darkgray;
    font-size: 24px;
}
.rockText,
.paperText,
.scissorsText {
    color: rgb(70,70,70);
    text-shadow: 5px 5px 3px rgb(30,30,30);
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}
.playContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 16px;
    gap: 25px;
    height: 300px;
    width: 100%;
    background-color: #101010;
}
  
.playButtons {
    content: '';
    height: 200px;
    aspect-ratio: 1.5/2;
    box-shadow: 16px 14px 20px #0000008c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.playButtons::after {
    content: "";
    width: 95%;
    height: 95%;
    background: rgb(25,25,25);
    position: absolute;
    border-radius: 10px;
    box-shadow: inset 20px 20px 20px #0000008c;
}
.playOutline {
    content: "";
    background: repeating-conic-gradient(
      #101010 0%,
      transparent 12.5%,
      #101010 25%,
      #101010 50%,
      transparent 62.5%,
      #101010 75%,
      #101010 100%
    );
    width: 200%;
    height: 200%;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(-10px);
    animation: rotate 7s linear infinite;
}
.playerSelect {
    content: "";
    background-image: linear-gradient(
      to right,
      #1fea22,
      #101010
    );
    width: 50%;
    height: 200%;
    position: absolute;
    overflow: hidden;
    display: flex;
    left: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transform-style: preserve-3d;
    transform: translateZ(-10px);
}
.computerSelect {
    content: "";
    background-image: linear-gradient(
      to left,
      #ff0052,
      #101010
      );
    width: 50%;
    height: 200%;
    position: absolute;
    overflow: hidden;
    display: flex;
    right: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transform-style: preserve-3d;
    transform: translateZ(-10px);
}
@keyframes rotate {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
}
  